main.blog__main{
    padding: 80px;
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    width: 100%;
}


.blog__section{
    width: min(100%, 1200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.blog__card{
    background-color: var(--text-color);
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
}

.blog__card:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    
}

.blog__card .blog__img{
    width: 300px;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-grow: 0;
}

.blog__card .blog__content{
    padding: 10px;
    height: 100%;
    gap: 10px;
    flex-grow: 1;
    position: relative;
}

.blog__card .blog__content .blog__title{
    font-size: 1.5rem;
    color: var(--primary-color);
}
.blog__card .blog__content .blog__description{
    font-size: 1rem;
    color: var(--bg-secondary-color);
    height: 80px;
    overflow: hidden;
}
.blog__card .blog__content .blog__date{
    position: absolute;
    font-size: 0.8rem;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 8px;
    color: var(--text-color);
    top: 10px;
    right: 10px;
    z-index: 0;
}

.blog__loadmore{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 30px;
    
}
.blog__loadmore:disabled{
    cursor: not-allowed;
    background-color: var(--primary-color);
    opacity: 0.5;
}
.blog__card .blog__tags{
    padding: 5px 10px;
    display: flex;
    gap: 5px;    
}

.blog__card .blog__tags span{
    font-size: 0.8rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 2px 5px;
    border-radius: 5px;
}
.blog__card .blog__empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* article container */


.blog__article__container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__article__container .blog__article{
    width: min(calc(100vw - 50px), 1000px);
    height: auto;
    border: 1px solid var(--text-color);
    padding: 10px;
}
.blog__article__container .blog__title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.blog__article__container .blog_feature_image{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.blog__article__container .blog__content{
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 20px;
}

.blog__article__container .blog__tags{
    display: flex;
    gap : 5px;
    border-radius: 5px;
    padding: 10px;
}
.blog__article__container .blog__tags .blog__tag{
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}