.dashboard__draft__table{
    width: 100%;
    height: auto;
    padding: 20px;
}

.dashboard__draft__table table.draft__table{
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.draft__table thead{
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--text-color);
}
.draft__table thead th span{
    display: inline-block;
    padding: 10px;
}

.dashboard__draft__table table tbody tr span{
    display: inline-block;
    padding: 10px;
}
